i.mce-i-wp_code {
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px;
	background-image: url('../../../images/fav-icon.png');
}

.select-icon {
position: fixed;
float: left;
width: 400px;
margin-left: -200px;
background: #fff;
border: 1px solid #ccc;
padding: 20px;
left: 50%;
height: 300px;
z-index: 999;
top: 50%;
margin-top: -150px; }
